{% include 'header.html' %}
<div class="mb-5">
    <h1 class="mb-0">Education</h1>
    <div>
        <p class="mb-4 page_description" style="max-width: 55rem;">
            "With a background in computer engineering, I've had the opportunity to work on various aspects of the
            field.
            My experience includes software development and project management, as well as providing technical support
            to
            clients. I'm passionate about solving technical challenges and learning new technologies. I've worked on
            projects that allowed me to collaborate with multidisciplinary teams and contribute to the overall success
            of computer-related projects."
        </p>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-9">
            <h3 class="mb-0">

                <a href="https://www2.uniecampus.it/facolta/facolta-ingegneria/corso-laurea-triennale-ingegneria-informatica-automazione-database.asp"
                   class="custom-link">
                    Università degli Studi eCampus
                </a>
            </h3>
            <p>
                Computer and Software Engineering path (DATABASE)
            </p>
            <p>
                Currently enrolled in the third year of Computer Engineering
            </p>
            <ul>
                <mark><strong>Exam Done</strong></mark>
                <li>Physics I/II</li>
                <li>Algorithms and data structures</li>
                <li>Databases</li>
                <li>Electronic calculators and operating systems</li>
                <li>Electronics of digital systems</li>
                <li>Fundamentals of automatics</li>
                <li>Data management systems</li>
                <li>Decision support systems</li>
                <li>Industrial Automation</li>
                <li>Mechanical and thermal measurements</li>
                <li>Telecommunications networks</li>
            </ul>
        </div>
        <div class="col-3">
            <p class="text-end fst-italic"><strong>JAN 2022 - PRESENT</strong></p>
        </div>
    </div>
</div>
<hr style="height: 1px;background-color: var(--hr-color);"/>
<div>
    <div class="row">
        <div class="col-9">
            <h3 class="mb-0">

                <a href="http://www.ing.univaq.it/cdl/mostra_corso.php?codice=I3N"
                   class="custom-link">
                    Università degli studi dell'Aquila
                </a>
            </h3>
            <p>
                Computer and Software Engineering
            </p>
            <ul>
                <mark><strong>Exam Done</strong></mark>
                <li>Mathematical Analysis I</li>
                <li>Foundations of Informatics</li>
                <li>Geometry</li>
                <li>Mathematical analysis II</li>
                <li>Probability calculation</li>

            </ul>
        </div>
        <div class="col-3">
            <p class="text-end fst-italic"><strong>SEP 2020 - JAN 2021</strong></p>
        </div>
    </div>
</div>
<hr style="height: 1px;background-color: var(--hr-color);"/>
<div>
    <div class="row">
        <div class="col-9">
            <h3 class="mb-0">
                <a href="https://galileipescara.edu.it/"
                   class="custom-link">
                    Galileo Galilei Scientific High School
                </a>
            </h3>
            <p>
                Math and physics
            </p>
        </div>
        <div class="col-3">
            <p class="text-end fst-italic"><strong>SEP 2015 - JUL 2020</strong></p>
        </div>
    </div>
</div>
<hr style="height: 1px;width: 100px;background-color: var(--hr-color);margin: 3rem auto;"/>
<div class="mb-5 mt-5">
    <h1 class="mb-0">Skills</h1>
    <div>
        <p class="mb-4 page_description" style="max-width: 55rem;">
            "This list provides an overview of the skills I can apply to tackle projects and technological challenges."
        </p>
    </div>
</div>
<div class="mb-5">
    <i class="fab fa-html5 fa-6x"></i>
    <i class="fab fa-css3-alt fa-6x"></i>
    <i class="fab fa-js fa-6x"></i>
    <i class="fab fa-php fa-6x"></i>
    <i class="fab fa-bootstrap fa-6x"></i>
    <i class="fab fa-wordpress fa-6x"></i>
    <i class="icon-mysql fa-6x"></i>
    <i class="icon-postgres fa-6x"></i>
    <i class="fab fa-java fa-6x"></i>
    <i class="fab fa-python fa-6x"></i>
    <i class="fab fa-stack-overflow fa-6x"></i>
    <i class="fas fa-flask fa-6x"></i>
    <i class="fab fa-git fa-6x"></i>
    <i class="fab fa-github fa-6x"></i>
    <i class="fas fa-bug fa-6x"></i>
    <i class="fab fa-react fa-6x"></i>
</div>
{% include 'footer.html' %}