{% include 'header.html' %}
<div class="row mb-3">
     <h1>
         Work
     </h1>
    <p class="mb-4 page_description" style="max-width: 55rem;">
        "With a background in computer engineering, I've had the opportunity to work on various aspects of the field.
        My experience includes software development and project management, as well as providing technical support to
        clients. I'm passionate about solving technical challenges and learning new technologies. I've worked on
        projects that allowed me to collaborate with multidisciplinary teams and contribute to the overall success
        of computer-related projects."
    </p>
</div>
<div class="mb-3">
     <h2>
         Lampeo
     </h2>
    <p class="fs-4 fst-italic">2023</p>
    <div class="work_description">
        <p>
            "Lampeo is a short-term project following the 'DATABASE-BASED APPLICATIONS PROJECT' course. The e-commerce
            website is entirely built using PHP with MySQL. The use of client-side technologies like Javascript was
            prohibited as the course's main objective was to provide us with knowledge and proficiency in backend
            (server-side) technologies and database management. Further details can be found in the README.txt file.
            Lampeo is currently in the development and review phase after testing the initial version."
        </p>
        <ul class="list-unstyled mb-5">
            <li>
                <div class="cointainer d-inline-flex align-items-center distance_between_title_icons">
                    <i class="fab fa-github"></i>
                    <a class="custom-link" href="https://github.com/Dambrous/lampeo">
                        Lampeo
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="row gx-4">
        <div class="col-12">
            <img src="/static/images/lampeo1.png"
                 class="w-100 shadow-1-strong rounded mb-4"/>
        </div>
    </div>
    <div class="row gx-5 ">
        <div class="col-12">
            <img src="/static/images/lampeo2.png"
                 class="w-100 shadow-1-strong rounded mb-4"/>
        </div>
    </div>
    <div class="row gx-5 ">
        <div class="col-12">
            <img src="/static/images/lampeo3.png"
                 class="w-100 shadow-1-strong rounded mb-4"/>
        </div>
    </div>

</div>
<div class="mb-3">
     <h2>
         Odoo - Rapsodoo
     </h2>
    <p class="fs-4 fst-italic">2021 - Present</p>
    <div class="work_description">
        <p>
            "I am a software developer working for a company specializing in the sales and customization of Odoo,
            a comprehensive business management platform and ERP software. My primary role involves collaborating with
            clients to understand their specific business needs and then customizing the Odoo implementation to meet
            those requirements. This may include creating custom modules, integrating existing systems, configuring
            business workflows, and developing tailored reports.
            <br>
            <br>
            I am passionate about tackling complex challenges and ensuring that Odoo is an efficient and suitable resource for
            each client's unique needs. I work closely with the sales team and business consultants to ensure that
            the Odoo solution offered aligns with clients' strategies and business goals."
        </p>
        <ul class="list-unstyled mb-5">
            <li>
                <div class="cointainer d-inline-flex align-items-center distance_between_title_icons">
                    {% for attachment in attachment_row %}
                    <img src="{{ url_for('static', filename='images/' ~ attachment['content']) }}" width="75"
                         height="75" class="img-thumbnail mb-4"/>
                    {% endfor %}
                    <a class="custom-link" href="https://www.rapsodoo.com/it">
                        Rapsodoo
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="row gx-4">
        <div class="col-12">
            <img src="/static/images/odoo1.png"
                 class="w-100 shadow-1-strong rounded mb-4"/>
        </div>
    </div>
    <div class="row gx-4">
        <div class="col-12">
            <img src="/static/images/odoo2.png"
                 class="w-100 shadow-1-strong rounded mb-4"/>
        </div>
    </div>
</div>

{% include 'footer.html' %}